/* Define the font-family from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

/* Define colors using variables */
$body-bg-color: #f7fdfa;
$Marrs-Green: #00724a;
$Verde-Floresta: #005a3f;
$Verde-Musgo: #405f51;
$Verde-Oliva: #6e7f71;
$Verde-Escuro: #284c39;
$Verde-Claro: #00a896;

/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
}

/* Styles for the main content section */
#Content {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $body-bg-color;
}

/* Styles for the links container */
.links_Container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: fit-content;
  width: fit-content;

  /* Styles for the link items */
  .link {
    width: 350px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid $Marrs-Green;
    background-color: transparent;
    border-radius: 20px;
    text-decoration: none;
    color: $Marrs-Green;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    z-index: 1;

    /* Styles for the link hover effect */
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 0%;
      height: 100%;
      border-radius: 20px;
      transform: translate(-50%, -0%);
      background-color: $Marrs-Green;
      transition: all 0.3s;
      z-index: -1;
    }

    /* Styles for the link hover effect */
    &:hover {
      color: $body-bg-color;
      &:before {
        transition: all 0.3s;
        width: 100%;
      }
    }
  }
}

/* Styles for the icons container */
.Icons_Container {
  margin-top: 100px;
  display: flex;
  gap: 30px;

  /* Styles for the font icon */
  .bi {
    font-size: 25px;
    color: $Verde-Floresta;
  }

  /* Styles for the icon hover effect */
  .icon {
    &:hover {
      .bi {
        color: $Verde-Musgo;
        border-bottom: 2px solid $Verde-Floresta;
      }
    }
  }
}

// Styles for the profile image container
.profile_container {
  margin-bottom: 20px;
  text-align: center;

  // Styles for the div representing the profile image
  .imagem {
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    // Styles for the profile image
    .profile-image {
      border-radius: 50%;
      width: 250px;
      outline: 2px dotted $Verde-Claro;
    }
  }

  // Styles for the file input for image upload
  .profile-input {
    display: none;
  }

  // Styles for the label that triggers the file input
  .label-profile {
    padding: 10px;
    background-color: $Marrs-Green;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 10px;
    text-transform: uppercase;
    color: $body-bg-color;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.3s;

    // Hover effect on the label
    &:hover {
      transition: all 0.3s;
      background-color: $Verde-Musgo;
    }
  }

  // Styles for the caption of the figure
  .figure_text {
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: xx-small;
    color: $Verde-Musgo;
  }
}
